{% extends 'sumkiapp/header.html' %}

{% block content %}
<br>
<br>
<br>
<br>
	<h1 align="center">РЮКЗАКИ</h1>
<br>
	<div class="container-fluid">
	<div class="row">
		{% for product in products %}
			<div class="col-xs-1 col-sm-3 col-lg-3 col-md-3">
				<a href="/product/{{ product.product_name }}">
				<div class="zoom">
				<img src="{{ product.primary_image.url }}" class="img-fluid">
				</div>
				</a>
				<a href="/product/{{ product.product_name }}">{{ product.product_name }}</a>
				<br>
				<p style="float: left;"><s>{{ product.old_price }}</s> руб  <strong>{{ product.price }} руб</strong></p>
			</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}

