{% extends 'sumkiapp/header.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
	<div class="container-fluid">
		{% for review in reviews %}
		<br>
			<div class="container" style="border:1px solid black;">
				<p><strong>{{ review.name }}</strong></p>
				<p>{{ review.comment }}</p>
				{% if review.image.url %}
				<img src="{{ review.image.url }}" class="img-fluid" width="250" height="250">
				{% endif %}
				<br>
				<br>
			</div>
		{% endfor %}
	</div>
	<br>
	<br>
	<br>
<div class="container">
	<p align="center"><strong>ОСТАВИТЬ ОТЗЫВ</strong></p>
          <form action="{% url 'sumkiapp:review_add' %}" method="post" enctype="multipart/form-data">
          	{% csrf_token %}
            {{ form.as_p }}
          <button type="submit" class="btn btn-outline-dark">ОТПРАВИТЬ ОТЗЫВ</button>
          </form>
</div>
{% endblock %}